form {
	display: flex;
}

.add_bar {
	display: block;
	width: 270px;
	height: 40px;
	font-size: 20px;
	padding-right: 40px;
	padding-left: 20px;
	margin-right: 30px;
	border: 2px solid rgba(75, 54, 54, 0.795);
	border-radius: 4px;
}

.add_btn {
	display: inline-block;
    height: 44px;
    width: 51px;
    background-color: inherit;
	background-image: url('./icons8-add-property-64.png');
	background-position: 3px -1px;
    background-repeat: no-repeat;
    background-size: 48px;
    padding-right: 3px;
    border: none;
    cursor: pointer;
}